.ficha_container{
    width: 450px;
    margin: 0 auto;
    padding: 3em 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: aqua; */
}

.ficha_container button{
    background-color: #222;
    color:  #FFF;
    padding: 0.2em 1em;
    text-decoration: none;
    transition: 0.5s;
    height: 2.5em;
}

.bt:hover{
    color:  #ff0009;
}

.bt{
    margin-left: 1em;
}

.ficha_info{
    width: 100%;
}