.container-pgInicial {
    background-color: rgb(236, 236, 236);
    height: 100%;   
}

.container-pgInicial .container-cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    background-color: rgb(49, 66, 73);
    color: white;
}


.container-pgInicial .container-cabecalho h1{
    cursor: pointer;
}

.container-pgInicial .container-cabecalho .pesquisa input{
    background-color: inherit;
    border: none;
    border-bottom: solid 1px rgb(255, 255, 255);
    padding: 5px 10px;
    color: white;
    width: 300px;
}

.container-pgInicial .container-cabecalho .pesquisa input:focus{
    outline: none;
}

.container-pgInicial .container-cabecalho .pesquisa form{
    display: flex;
    align-items: center;
    gap: 5px;
    /* background-color: red; */
    flex-direction: row;
}

.container-pgInicial .container-cabecalho .pesquisa button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: inherit;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
    padding: 5px;
}

.container-pgInicial .container-cabecalho .pesquisa button:hover{
    background-color:  rgb(41, 55, 61);
}


.container-pgInicial .container-cabecalho ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.container-pgInicial .container-cabecalho .bt-sair{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: inherit;
    color: white;
}

.container-pgInicial .container-cabecalho .bt-sair:hover{
    background-color: rgb(41, 55, 61);
}


@media screen and (max-width: 890px) {
    .container-pgInicial .container-cabecalho .pesquisa input{
        width: 200px;
    }
    .container-pgInicial .container-cabecalho h1{
        font-size: 1.3rem;
    }
}


/* ========================== CONTAINER CONTEUDO ====================== */
.container-conteudo-pgInicial{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(236, 236, 236);
}

.container-conteudo-pgInicial .filtro-ordenacao{
    display: flex;
    align-items: center;
    gap: 5px;
}
.container-conteudo-pgInicial .filtro-ordenacao select{
    background-color: rgb(236, 236, 236);
    padding: 5px;
    border-radius: 5px;
}

.container-conteudo-pgInicial .filtro-categoria{
    display: flex;
    align-items: center;
    gap: 5px;
}
.container-conteudo-pgInicial .filtro-categoria select{
    background-color: rgb(236, 236, 236);
    padding: 5px;
    border-radius: 5px;
}

.container-pgInicial select:focus{
    outline: none;
}

.cabecalho-conteudo-pgInicial{
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ========================== CONTAINER CARDS ====================== */
.container-cards-pgInicial{
    align-self: center;
    /* background-color: red; */
    width: 1060px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 1160px) {
    .container-cards-pgInicial{
        width: 790px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 890px) {
    .container-cards-pgInicial{
        width: 520px;
        grid-template-columns: 1fr 1fr;
    }

   
    .cabecalho-conteudo-pgInicial h2{
        display: none;
    }
}



