.bt {
    background-color: #222;
    color: #fff;
    padding: .7em 1.2em;
    transition: .5s;
    cursor: pointer;
    border: none;
}

.bt:hover{
    color:  #ff0009;
}

.bt:disabled{
    background-color: #646464;
}

.bt:disabled:hover{
    color: #fff;
    cursor: auto;
}
