.container{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 1em 2em;
    min-height: 75%;
}

.start{
    padding: 0em 0em;
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}