/* input{
    padding: 0.7em;
    border-radius: 0;
    border: none;
    margin-top: 1em;
}

input::placeholder{
    color: #7b7b7b;
}

input:focus{
    outline: none;
}

button{
    border-radius: 0;
    border: none;
    height: 100%;
} */

.pesquisa{
    display: flex;
    flex-direction: column;
    background-color: blue;
}


.pesquisa input{
    padding: 0.7em;
    border-radius: 0;
    border: none;
    width: 100%;
    margin-top: 1em;
}