/* input{
    padding: 0.7em;
    border-radius: 0;
    border: none;
    margin-top: 1em;
}

input::placeholder{
    color: #7b7b7b;
}

input:focus{
    outline: none;
}

button{
    border-radius: 0;
    border: none;
    height: 100%;
} */

.pesquisa{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.pesquisa input{
    padding: 0.7em;
    border-radius: 0;
    border: none;
    width: 100%;
}

.pesquisa input::placeholder{
    color: #7b7b7b;
}
