
h2{
    margin-bottom: 10px;
}
  
p{
    margin: 10px 0;
}
  
input{
    box-sizing: border-box;
}

.completar{
    background-color: #5cb85c;
}

.remover{
    background-color: #d9534f;
}

.tarefa{
    background-color:  #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) ;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}